<div ng-controller="DashboardController as dashboardCtrl">
    <div class="col-md-12 dashboardApartments">
        <h2 class="title">Apartments</h2>
        <div ng-repeat="apartment in dashboardCtrl.apartments">
            <div class="col-md-4">
                <md-card md-theme="yellow" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{apartment.name}}</span>
                            <span class="md-subhead">Medium</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-md card-media">
                                <img ng-src="{{apartment.img}}" alt="">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Edit</md-button>
                        <md-button>Delete</md-button>
                    </md-card-actions>
                </md-card>
            </div>

        </div>
    </div>

    <div class="col-md-4">
        <div>
            <md-toolbar layout="row" class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>Reservations</span>
                    <span class="col-md-4 pull-right inputDashboard">
                        <input ng-model="searchText" style="width: 200px">
                    </span>

                </div>
            </md-toolbar>
            <md-content>
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="res in dashboardCtrl.reservations | filter:searchText" ng-click="null">
                        <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ res.customer_id }}</h3>
                            <h4>{{ dashboardCtrl.getApartmentName(res.apartment_id)}}</h4>
                            <p>From: {{ res.booked_from | date}}, To: {{res.booked_to | date}}</p>
                        </div>
                    </md-list-item>
                    <md-divider ></md-divider>
                </md-list>
            </md-content>
        </div>
    </div>
</div>