body {
	background-color: #000;
    background-image: url("../src/images/Background/background1.png");
    
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.navbar a{
    color: #FFFFFF;
}

.nav-tabs:hover {
    border: none;
}

.navbar {
    margin-top: 10px;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:active {
    border: 1px solid #FFF;
    background-color: transparent;
    border-radius: 0;
}
.apartments {
	margin-top: 40px;
}

.apartment {
	background-color: #FFFFFF;
	margin-top: 30px;
	border: solid 1px #d8d8d8;
}

.apartmentImg {
	height: 100%;
	width: 100%;
	
}

.apartmentDetails {
	margin-top: 50px;
	background-color: #FFFFFF;
	margin-top: 30px;
	border: solid 1px #d8d8d8;
}

.apartmentImgDetails {
	height: 100%;
	width: 100%;
}

.navigation {
	width: 100%;
}

div img {
	margin: auto;
}

.col-md-4 {
	padding: 0;
}

.bookNow {
	margin-top: 15px;
}

.closeMargin {
    margin-top: 15px;
}

#cancel {
    margin-top: 130px;
}

.cancelBtn {
	margin-top: 15px;
    height: 38px;
    width: 100px;
    background-color: #e71919 !important;
    color: #FFF;
    border-radius: 0;
}

.detailsBtn {
	margin-top: 15px;
    height: 38px;
    width: 100px;
    background-color: #3288ff !important;
    color: #FFF;
    border-radius: 0;
}

.title{
	color: #E9EAED;
}

.container {
	padding: 0;
	margin-bottom: 20px;
}

.booking {
	background-color: #FFFFFF;
	border: solid 1px #d8d8d8;
}

input {
	margin-bottom: 15px;
}

.titleBooking {
	
}

.datepickerInput {
    height: 80px;
    width: 80px;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    border-right: 0px;
    border-left: 0px;
    border-bottom: solid 1px #d8d8d8;
    border-top: solid 1px #d8d8d8;
    background-color: #FFFFFF;
}

.datepicker {
    height: 120px;
    width: 110px;
    background-color: #FFFFFF;
    margin: 10px 6px 20px 6px;
    text-align: center;
    padding: 5px 0 5px 0;
    position: relative;
}

.monthTitle {
    color: #95918F;
}

.search {
    background-color:rgba(0, 0, 0, 0.4);
    margin-top: 40px;
}

.datepickers {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.col-md-3 {
    float: inherit;
}

.welcomeTitle {
    font-size: 40px;
    margin-top: 90px;
    color: #FFFFFF;
    text-align: center;
}

.datepickerLabels {
   text-align: center;
}

.datepickerLabel {
    color: #FFFFFF;
    
}

.searchBtnWrapper {
    margin-top: 15px;
    padding: 0px;
}

.searchBtn {
    background-color: rgba(0, 0, 0, 0.4);
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 0;
    font-size: 18px;
}

.searchBtn:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 2px;
}

.datepicker .dropdown-menu { 
    left: -65% !important; 
 }
 
 .dropdown-menu button {
     border: 1px solid #fff;
     background: transparent;
     box-shadow:none;
     background-color: #F1F1F1;
     border-radius: 0;
 }
 
  .dropdown-menu button[disabled] {
     color: #E5E5E5;
     background-color: #8C8C8B;
     text-shadow: none;
     text-decoration: none;
 }
 
  .dropdown-menu .btn-selected {
     background-color: #D10074;
     text-shadow: none;     
     text-decoration: none;
     color: #E5E5E5;
 }
 
 input[type=text]:focus {
  border-color: none;
  outline: none;
  color: none;
  text-shadow: 0 0 0 #000;
}

.input-group .dropdown-menu {
    width: 100%;
}

.dropdown-menu table {
    width: 100%;
}

.searchApartmentsView {
    background-color:rgba(0, 0, 0, 0.4);
    margin-top: 40px;
    padding: 0;
}

.searchApartmentsViewDate {
    margin: 15px 10px 10px 10px;
}

.input-group {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 0;
    background-color: transparent;
}

.input-group input {
    color: #FFFFFF;
    border-radius: 0;
    background-color: transparent;
}

.calendarBtn {
    border-radius: 0;
}

.inputGuests {
    width: 40px;
}

.searchBtnApartmentsView {
    height: 38px;
    width: 100px;
    margin-left: 25px;
    background-color: #FF5A5F !important;
    color: #FFF;
    border-radius: 0;
}

.bookNowBtn {
    height: 38px;
    width: 100px;
    background-color: #FF5A5F !important;
    color: #FFF;
    border-radius: 0;
}

.dropGuests {
    min-width: 83px;
}

#dropGuestsHome {
    min-width: 80px;
    left: 0px !important; 
}

.dropGuestsHome a{
    text-align: center;
}

.noRooms {
    background-color: rgba(0, 0, 0, 0.4);
    color: #E9EAED;
    margin-top: 30px;
}

.alert {
    margin: 15px 0 15px 0;
    text-align: center;
    font-size: 18px;
}

.btn-primary {
    border-radius: 0;
}

.reserve {
    margin-top: 90px;
}

.modal-body {
    overflow: auto;
}

.btn-close {
    background-clip: #E8E8E8;
    border-radius: 0;
    height: 38px;
    width: 100px;
}

.modal-dialog {
    width: 500px
}

.inputsForm {
    padding-left: 0;
    padding-right: 0;
}

.inputsGroup {
    padding-left: 5px;
}

.from {
    padding-left: 0;
}

.to {
    padding-right: 0;
}

.btn-reserved {
    background-color: #6dc066;
    border-radius: 0;
    height: 38px;
    width: 100px;
    margin: auto;
    color: white;
}

.reservationBtns {
    padding: 0 25px 0 20px;
}

.alert {
    font-size: 14px;
}

.reservationInput {
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 0;
    background-color: transparent;
}

.reservationInputs {
    padding-top: 10px;
}

.searchBtnReservation {
    height: 34px;
    margin-left: 10px;
    background-color: #FF5A5F !important;
    color: #FFF;
    border-radius: 0;
}

.guestsClm {
    padding: 0;
    margin-right: 0;
}

.searchBtnPosition {
    margin-left: 0;
    padding-left: 0;
}

.btnToggle {
    height: 38px;
    margin-left: 38px;
    color: #fff;
}

.btnToggle:hover {
    border: 1px solid #FFF;
    color: #fff;
}

.btnToggle:active, .btnToggle:focus {
    color: #fff;
}

.orderBtn {
    height: 38px;
}

.orderBtn:focus {
    font-weight: bold;
}

.reservationPadding {
    padding-left: 15px;
}

.loginBtn {
    top: -20px;
    margin-left: 42px;
}

.loginContainer {
    height: 120px;
    overflow: hidden;
    margin-top: 100px;
    left: 300px;
}

.md-toast-text {
    text-align: center;
    color: red;
    float: right;
}

.dashboardApartments {
    background-color: rgba(0,0,0,0.4);
    padding-bottom: 30px;
    margin-bottom: 40px;
}

.md-item-list-inner {
    text-align: left;
}

.inputDashboard {
    top: 3px;
    left: 45px;
}