<div>
   <div class="title col-md-10 col-md-offset-1 searchApartmentsView reservationPadding">
       <h4>Reservation from  {{reservationCtrl.reservation.booked_from | date:'MM-dd-y'}}  to  {{reservationCtrl.reservation.booked_to | date:'MM-dd-y'}}</h4>
   </div>
   
  
  <div class="apartmentDetails container col-md-10 col-md-offset-1">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item center active">
          <img src="{{reservationCtrl.apartment.images[0].path}}" alt="...">
        </div>
        <div class="item center">
          <img ng-src="{{reservationCtrl.apartment.images[1].path}}" alt="...">
        </div>
        <div class="item center">
          <img ng-src="{{reservationCtrl.apartment.images[2].path}}" alt="...">
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <article class="">
      <div class="col-md-4">
        <img class="apartmentImgDetails" ng-src="{{reservationCtrl.apartment.img}}" alt="">
      </div>

      <div class="col-md-8">
        <button class="btn pull-right cancelBtn"  data-toggle="modal" data-target="#cancel">Cancel</button>
        <h3>{{reservationCtrl.apartment.name}}</h3>

        <h4>$ {{reservationCtrl.apartment.price}} per night</h4>
        <h5>{{reservationCtrl.apartment.description}}</h5>
        <h5>Number of beds: {{reservationCtrl.apartment.places}}</h5>
        
        <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        
                    </div>
                    <div class="modal-body text-center">
                        <h4>Are you sure you want cancel this reservation?</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn pull-left cancelBtn" ng-click="reservationCtrl.cancelReservation()" data-dismiss="modal">Yes</button>
                        <button class="btn btn-close pull-right closeMargin" data-dismiss="modal">No</button>
              
                    </div>
                </div>
            </div>
        </div>

      </div>
    </article>

  </div>

</div>