
<div ng-controller="ReservationCtrl as reservationCtrl">
    <div class="col-md-10 col-md-offset-1">
        <span class="title"><h2>Manage Your Reservation</h2></span>
    </div>
    <div class="searchApartmentsView reservationInputs reservationPadding col-md-10 col-md-offset-1">

        <div class="searchApartmentsViewDate col-md-4">
            <input type="text" ng-model="reservationCtrl.reservationCredentials.mail" class="form-control text-center reservationInput" placeholder="Enter your e-mail adress" />
        </div>

        <div class="searchApartmentsViewDate col-md-4">
            <input type="text" ng-model="reservationCtrl.reservationCredentials.code" class="form-control text-center reservationInput" placeholder="Enter your reservation number" />
        </div>


        <div class="searchApartmentsViewDate col-md-3">
            <button class="btn btn-block searchBtnReservation" ng-click="reservationCtrl.getReservation()">Search</button>
        </div>

    </div>
    
    <div ng-if="reservationCtrl.apartment.id">
        <div ng-include="'src/templates/reservation/reservedApartment.html'"></div>
    </div>
    
    <div class="title col-md-10 col-md-offset-1 searchApartmentsView text-center" ng-if="reservationCtrl.reservation.status == 404">
       <h4><p>Sorry!</p> We could not find your reservation. Please check your e-mail adress and verification code.</h4>
   </div>
</div>