<div ng-controller="ApartmentCtrl as apartmentCtrl">
  <div class="apartmentDetails container col-md-10 col-md-offset-1">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item center active">
          <img src="{{apartmentCtrl.apartment.images[0].path}}" alt="...">
        </div>
        <div class="item center">
          <img ng-src="{{apartmentCtrl.apartment.images[1].path}}" alt="...">
        </div>
        <div class="item center">
          <img ng-src="{{apartmentCtrl.apartment.images[2].path}}" alt="...">
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <article class="">
      <div class="col-md-4">
        <img class="apartmentImgDetails" ng-src="{{apartmentCtrl.apartment.img}}" alt="">
      </div>

      <div class="col-md-8">
        <button class="btn detailsBtn pull-right bookNow"  data-toggle="modal" data-target="#myModal">Book Now</button>
        <h3>{{apartmentCtrl.apartment.name}}</h3>

        <h4>$ {{apartmentCtrl.apartment.price}} per night</h4>
        <h5>{{apartmentCtrl.apartment.description}}</h5>
        <h5>Number of beds: {{apartmentCtrl.apartment.places}}</h5>
        
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        
                        <span ><h3 class="titleBooking">Reserve {{apartmentCtrl.apartment.name}} Apartment</h3></span> 
                    </div>
                    <div class="modal-body">
                        <div ng-include="'src/templates/booking/booking.html'"></div>
                    </div>
                    <div class="modal-footer">
                        
                        <div class="alert alert-success" ng-show="apartmentCtrl.reserved">
                            Your room has been reserved. Please check your e-mail account.
                        </div>
                        
              
                    </div>
                </div>
            </div>
        </div>

      </div>
    </article>

  </div>

</div>