<div ng-controller="ApartmentsCtrl as apartmentsCtrl">
    
    <div ng-include="'src/templates/search.html'"></div>
	<div class="apartments container col-md-10 col-md-offset-1">
		<span class="title"><h2>Available Apartments</h2></span>
		<article class="apartment row" ng-repeat="apartment in apartmentsCtrl.apartments | filter : apartmentsCtrl.filter | orderBy : apartmentsCtrl.order : apartmentsCtrl.reverse">
			<div class="col-md-4">
				<img class="apartmentImg" ng-src="{{apartment.img}}" alt="">
			</div>
			
			<div class="col-md-8">
				
				<a class="btn detailsBtn pull-right bookNow" ng-href="#/apartments/{{apartment.id}}/{{dateStart}}/{{dateEnd}}/{{guests}}">Details</a>
				<h3>{{apartment.name}}</h3>
				
				<h4>$ {{apartment.price}}</h4>
				<h5>{{apartment.description}}</h5>
				<h5>Number of beds: {{apartment.places}}</h5>
			</div>
			
		</article>
        
        <div class="noRooms" ng-if="apartmentsCtrl.apartments.length < 1">
            <div class="alert">
                <p><span>We are sorry.</span></p>
            <span>Currently there are no rooms available at the selected time.</span>
            </div>
            
        </div>
	</div>
</div>