<nav class="navbar">
  <div ng-if="isLoginPage">
    <ul class="nav nav-tabs pull-right">
      <li role="presentation"><a href="#/">Home</a></li>
      <li role="presentation"><a ng-href="#/reservation">Your Reservation</a></li>
      <li role="presentation"><a href="#">Contact</a></li>
    </ul>
  </div>

</nav>