<div ng-controller="LoginController as loginCtrl">
    <div layout="column" class="md-inline-form col-md-6">
        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding class="loginContainer">
            <div>
                <md-input-container>
                    <label>Login</label>
                    <input ng-model="loginCtrl.user.title">
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input ng-model="loginCtrl.user.password" type="password">
                </md-input-container>
                <md-button class="md-raised md-primary loginBtn" ng-click="loginCtrl.login()">Login</md-button>
            </div>
            <div ng-if="loginCtrl.invalid">

            </div>
        </md-content>
    </div>
</div>