<div ng-controller="SearchCtrl">
   
   <div class="welcomeTitle" ng-if="homeView">
       <span>Welcome to Paradise</span>
   </div>
   <div ng-if="homeView">
              
       <div class="search col-md-6 col-md-offset-3">
        <div class="row">
            <div class="datepickers">
                <div class="datepickerLabels">
                    <span class="datepickerLabel">Arriving</span>
                    <div class="datepicker">
                        <span class="monthTitle">{{getMonth(date.start)}}</span>
                        <input type="text" readonly class="datepickerInput" uib-datepicker-popup="{{format}}" ng-model="date.start" ng-change="setTomorrow()"
                        is-open="status.startOpened" open-end="status.endOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" 
                        date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="openStart($event)" show-weeks="false" show-button-bar="false"/>
                    </div>
                </div>
                
                <div class="datepickerLabels">
                    <span class="datepickerLabel">Departing</span>
                    <div class="datepicker">                   
                        <span class="monthTitle">{{getMonth(date.end)}}</span>
                        <input type="text" readonly class="datepickerInput" uib-datepicker-popup="{{format}}" ng-model="date.end" 
                        is-open="status.endOpened" min-date="minEndDate" max-date="maxDate" datepicker-options="dateOptions" 
                        date-disabled="disabledEnd(date, mode)" ng-required="true" close-text="Close" ng-click="openEnd($event)" show-weeks="false" show-button-bar="false"/>           
                    </div>
                </div>
                
                <div class="datepickerLabels">
                    <span class="datepickerLabel">Guests</span>
                    <div class="datepicker">
                        <span class="monthTitle">Number</span>
                        <div class="btn-group" uib-dropdown is-open="status.isopen">
                            <button id="single-button" type="button" class="datepickerInput" ng-model="guests" uib-dropdown-toggle>
                                 {{guests}}
                            </button>
                            <ul id="dropGuestsHome" class="uib-dropdown-menu " role="menu" aria-labelledby="single-button">
                                <li role="menuitem" ng-repeat="number in guestsNumbers"><a href="" ng-click="setNumberOfGuests(number)">{{number}}</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
    
    <div class="searchBtnWrapper col-md-6 col-md-offset-3">
        <a class="btn btn-block searchBtn" ng-href="#/search/{{date.start | date}}/{{date.end | date}}/{{guests}}" ng-click="search()">SEARCH</a>
    </div>     
   </div>
   
   <div ng-if="!homeView">
    <div class="searchApartmentsView col-md-10 col-md-offset-1">
        <div class="col-md-12">
            <div class="searchApartmentsViewDate col-md-4">
                <p class="input-group">
                    <input type="text" class="form-control text-center" uib-datepicker-popup="{{format}}" ng-model="date.start" is-open="status.startOpened"
                    open-end="status.endOpened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                    ng-required="true" close-text="Close" show-weeks="false" show-button-bar="false" />
                    <span class="input-group-btn">
                <button type="button" class="btn btn-default calendarBtn"" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>

            <div class="searchApartmentsViewDate col-md-4">
                <p class="input-group">
                    <input type="text" class="form-control text-center" uib-datepicker-popup="{{format}}" ng-model="date.end" is-open="status.endOpened"
                    min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                    ng-required="true" close-text="Close" show-weeks="false" show-button-bar="false" />
                    <span class="input-group-btn">
                <button type="button" class="btn btn-default calendarBtn" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
                </p>
            </div>

            <div class="searchApartmentsViewDate col-md-1 guestsClm">

                <div class="input-group">
                    <input type="text" class="form-control inputGuests" ng-model="guests" style="width: 40px;">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle calendarBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right dropGuests text-center">
                            <li role="menuitem" ng-repeat="number in guestsNumbers"><a href="" ng-click="setNumberOfGuests(number)">{{number}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="searchApartmentsViewDate center-block col-md-1 searchBtnPosition">
                <a class="btn center-block searchBtnApartmentsView" ng-href="#/search/{{date.start | date}}/{{date.end | date}}/{{guests}}" ">Search</a>
                
            </div>
            <div class="col-md-1">
                <button class="btn btn-link searchApartmentsViewDate btnToggle" slide-toggle="#derp"><i class="glyphicon glyphicon-chevron-down"></i></button>
            </div>
        </div>
        
        <div id="derp" class="slideable col-md-12" duration="0.5s">
            <div class="searchApartmentsViewDate col-md-4">
                <p class="input-group">
                    <input type="text" ng-model="apartmentsCtrl.filter" class="form-control text-center" placeholder="Filter..."/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default calendarBtn"><i class="glyphicon glyphicon-search"></i></button>
                    </span>
                </p>
            
            </div>
            <div class="searchApartmentsViewDate col-md-4">
                <button class="btn-block input-group orderBtn" ng-click="apartmentsCtrl.sortOrder()">Order By Price</button>
            </div>
        </div>
    </div>
   </div>
    
</div>