<div>
   
        <div class="inputsGroup col-md-12">
            <div class="from col-md-6">
                <span>From</span>
                <input type="text" class="form-control" ng-model="dateStart" readonly>
            </div>
            <div class="to col-md-6">
                <span>To</span>
                <input type="text" class="form-control" ng-model="dateEnd" readonly>
            </div>
        </div>
         <form name="booking" ng-submit="book()" class="inputsForm col-md-12" >
		<div class="inputsGroup col-md-12">
			<input type="text" ng-model="customer.name" ng-disabled="apartmentCtrl.reserved" ng-minlength="2" class="form-control" placeholder="Name" ng-required>
			<input type="text" ng-model="customer.surname" ng-disabled="apartmentCtrl.reserved" ng-minlength="2" class="form-control" placeholder="Surname" required>
			<input type="email" ng-model="customer.mail" ng-disabled="apartmentCtrl.reserved" class="form-control" placeholder="Mail" required>
			<input type="number" ng-model="customer.phone" ng-disabled="apartmentCtrl.reserved" class="form-control" placeholder="Phone" required>

		</div>
        
        <div class="row reservationBtns">
            <div class="col-md-4">
                <button type="submit" class="btn bookNowBtn pull-left" ng-disabled="booking.$invalid || apartmentCtrl.reserved">Book</button>
            </div>

            <div class="text-center col-md-4">
                <div class="btn btn-reserved" ng-show="apartmentCtrl.reserved">Reserved</div>
            </div>

            <div class="col-md-4">
                <button type="button" class="btn btn-close pull-right" data-dismiss="modal" ng-click="close()">Close</button>
            </div>  
            
        </div>
        
	</form>
</div>